<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/style.css">
  <% } %>
  
  </head>
  <body>
  <header class="p-3 bg-dark text-white">
    <nav class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 justify-content-center"
        >
          <li class="d-flex align-items-center mb-2 mb-lg-0 fs-3">
            <a href="/" class="text-light text-decoration-none">PLEK</a>
          </li>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            <a href="/profiles" class="text-light text-decoration-none">
              View Users
            </a>
          </li>

          <!-- will use section for reviews -->
          <% if (user) { %>
            <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
              <a href="/messages" class="text-light text-decoration-none">
                Reviews
              </a>
            </li>

          <% } %>
        </ul> 
    </br>
        <form action="/restaurants/search" method="POST" class="d-flex align-items-center me-3">
          <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="text-end d-flex align-items-center">
          <% // TODO: Add login logic here %>
          <% if (user) { %>
            <div id="profile-dropdown" class="dropdown text-end">
              <a 
                id="dropdownUser"
                href="#"
                class="d-block link-light text-decoration-none"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <% if(user?.profile.avatar) {%>
                  <img 
                    class="rounded-circle avatar-img"
                    src="<%= user.profile.avatar %>" 
                    alt="Your avatar"
                  >
                <% } else { %>
                  <img
                    class="avatar-img"
                    src="/images/icons/user-small.png" 
                    alt="A placeholder avatar"
                  >
                <% } %> 
              </a>
              <ul 
                class="dropdown-menu bg-secondary" 
                aria-labelledby="dropdownUser"
              >
                <li>
                  <a 
                    href="/profiles/<%= user.profile._id %>" 
                    class="dropdown-item bg-secondary text-white"
                  >
                    My Profile
                  </a>
                </li>
                <li><hr class="dropdown-divider bg-secondary text-white"></li>
                <li>
                  <a 
                    href="/auth/logout" 
                    class="dropdown-item bg-secondary text-white"
                  >
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
          <% } else { %>
            <a href="/auth/google">
              <button type="submit">
                <img  alt="Sign in with Google" />
              </button>
            </a>
          <% } %>
        </div>
      </div>
    </nav>
  </header>





<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar navbar-dark bg-dark"></nav> -->
    <!-- <div class="container-fluid">
      <a class="navbar-brand" >Kelp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="/restaurants">All </a>
            <a href="/restaurants/new">ADD </a>
        
        </div>
      </div>
    </div>
  </nav> --> 