<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main> 
    <form action= "" method="POST"> 
                <label> Name </label>
                <label> Avatar </label>
                <label>Review Section</label>
                <label>Restaurant Rank</label>
                <label>Menu Items</label>
                <label>Items Rank</label>
                <button>Submit</button>
    </form>
</main>

<%- include('../partials/footer') %>