<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<!--  turn to button with BS  -->
<a href="/profiles/<% profile._id %>/edit"> Edit Profile</a>


<%- include('../partials/footer') %>