<%- include('../views/partials/html-head') %>
<%- include('../views/partials/nav') %>
<!--  profile show view  -->

<!-- <h1 class="home-logo"> | WELCOME TO KELP |</h1> -->

<div class="home-card" 
    style="width: 30rem;"
    style="height: 60rem;"
>
    
<div 
class="card-body">
    <h1 
    class="card-title" 
        id="home-logo">
        | WELCOME TO KELP |
    </h1>
      <p class="card-text" id="home-body">Here at Kelp<br> We are focused on promoting the top restaurants and bars in NYC, while highlighting vegetarian and pescatarian culinary professionals.</p>
</div>
    <!-- <ul class="card-body list-group list-group-flush" id="home-card-body">
      <li class="list-group-item">Full Restaurant Details Form</li>
      <li class="list-group-item">Friends!</li>
      <li class="list-group-item">Restaurant of the Week</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link disabled">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
  
<!-- <h3> Here at Kelp we are focused on promoting the top restaurants and bars in NYC, white a focus on pescatarian  </h3> -->

<%- include('../views/partials/footer') %>