<%- include('../views/partials/html-head') %>
<%- include('../views/partials/nav') %>
<!--  profile show view  -->


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
  
    <main class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
  
  
      
  

<!-- <h1 class="home-logo"> | WELCOME TO KELP |</h1> -->

<!-- <div class="home-card text-center w-screen-50" 

>
    
<div 
class="card-body text-center"
id="home-logo">
    <h1 
    class="card-title " 
        >
        | WELCOME TO KELP |
    </h1>
    <p class="card-text" id="home-body">Here at Kelp<br> We are focused on promoting the top restaurants and bars in NYC, while highlighting vegetarian and pescetarian culinary professional institutions.</p>
  </div>
    <!-- <ul class="card-body " >
      <li class="list-group-item">Full Restaurant Details Form</li>
      <li class="list-group-item">Friends!</li>
      <li class="list-group-item">Restaurant of the Week</li>
    </ul> -->
  <!--   <div class="card-body">
        <a href="#" class="card-link disabled">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
  

<%- include('../views/partials/footer') %>