<%- include('../views/partials/html-head') %>
<%- include('../views/partials/nav') %>
<!--  profile show view  -->


<body>
    <h1><%= title %></h1>
    <a href="/restaurants">Dope Spots Directory TEST LINK</a></br>
    <a href="/restaurants/new">ADD RES TEST LINK </a></br>
    <a href="/restaurants/new">Reviews page TEST LINK </a></br>
    <a href="/restaurants/show"> Restaurant Profile TEST LINK </a>
  
  </body>



<%- include('../views/partials/footer') %>