<%- include('../views/partials/html-head') %>
<%- include('../views/partials/nav') %>
<!--  profile show view  -->


<body>
    <h1><%= title %></h1>
    <a href="/restaurants">Dope Spots Directory</a>
    <a href="/restaurants/new">ADD A SPOT BRUH</a>
  
  </body>



<%- include('../views/partials/footer') %>