<%- include('../views/partials/html-head') %>
<%- include('../views/partials/nav') %>
<!--  profile show view  -->

<h1 class="home-logo"> | WELCOME TO KELP |</h1>




<%- include('../views/partials/footer') %>