/* 
  html{ 
    background: rgb(19,34,56);
  background: linear-gradient(0deg, rgba(19,34,56,1) 15%, rgba(7,87,2,1) 51%, rgba(0,255,8,1) 97%);
  max-height: max-content;
  }

.home-card 
.card-body 
.list-group-item { 

  background:  rgba(0,255,8,1);
  background: linear-gradient(0deg,  rgba(7,87,2,1) 15%, rgba(7,87,2,1) 51%, rgba(0,255,8,1) 150%);;
  max-height: max-content;
}



.navbar { 
  background: #7faa44;
  opacity: 50%;
  width: 100%;
  width: 50%vw;


}

body {
  /* linear gradient dark green to light green  */
  /* background: rgb(19,34,56);
  background: linear-gradient(0deg, rgba(19,34,56,1) 15%, rgba(7,87,2,1) 51%, rgba(0,255,8,1) 97%);;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  

}

a {
  color: #71a2b3;
}



a:link { 
  text-decoration: none;
}

button {
list-style-type: none;
/* display: inline; 
text-align: center;
}
/* 
#home-card{
display: flex; 
text-align: center; 
justify-content: center;

}








#footnotes{ 
/* display: inline; */

/* display: inline-block; 
justify-content: space-evenly; 
font-size: 10px;
}
*/ 
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(42, 23, 23, 0.297);
  color: white;
  text-align: center;
  opacity: 40%;
  border: none;
  font-size: 1px;
  display: inline-block;
  justify-content: space-evenly;
  font-size: 5px;
 
}  */