
<%- include('../partials/html-head') %>
 <%- include('../partials/nav') %>
    <div class="container">
      <h2 class="mt-3 mb-3">Restaurants Section</h2>
      <!-- will show here  -->

 <%- include('../partials/footer') %>
