<%- include('../partials/html-head') %>
<h1><%= //title %> </h1>
  <!-- <style> 
  html{ 
    background: rgb(19,34,56);
  background: linear-gradient(0deg, rgba(19,34,56,1) 15%, rgba(7,87,2,1) 51%, rgba(0,255,8,1) 97%);;
  max-height: max-content;
  }

  .navbar { 
  background: #7faa44;
  opacity: 50%;
  width: 100%;
  width: 50%vw;
  }
  button { 

    padding: 10px;
  }

  .card { 
    background: rgb(19,34,56);
  background: linear-gradient(0deg, rgba(7,87,2,1) 15%, rgba(7,87,2,1) 51%, rgba(0,255,8,1) 97%);;
  max-height: max-content;

    /* max-width: 50%;
    max-height: 50%; */
    
  }
  </style>  -->
<%- include('../partials/nav') %>
<div class="container text-center   text-white font-serif  mb-40">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 well ml-20">
      <div class="col-sm-12 form-legend">
        <h2 class="text-center text-2xl text-white ml-40 font-serif">Create A Restaurant</h2>
      </div>
      <div class="col-sm-12 form-column">
        <form action="/restaurants" method="POST" class="ml-40 mt-10 p-5 shadow-2xl ring-4 ring-green-800  rounded-lg ">
          <div class="form-group  ">
            <label for="email">Name of Restaurant</label>
            <input name="title" placeholder="Enter Restaurant" class="form-control">
          </div>
          <div class="form-group mt-2">
            <label for="email-confirm">Restaurant Description</label>
            <input name="content" placeholder="enter a quick description" class="form-control" class="form-control">
          </div>
          <div class="form-group mt-2">
            <label for="country">City</label>
             <option name="content" placeholder="enter restaurant" class="form-control" id="inputPassword3">NYC</option>
          </div>
          
          <div class="form-check mt-2">
            <label for="inputState" class="form-label mr-2">How was it?</label>
             <select id="inputState" class="form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option> 
             </select>
          </div>
    
          <button type="submit"  class="btn btn-primary mt-3 ml-42 mb-4"  href="/restaurants/show">Enter</button>
        </form>
      </div>
    </div>
  </div>





<%- include('../partials/footer') %>