<%# This is where we'll display a button to add/remove the game from your collection %> 
<% if (!restaurant?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
<form 
class="text-center" 
action="/restaurant/addToCollection" 
method="POST"
>
<button class="btn btn-primary">
  Save 
</button> 
</form>
<% } %>
<% if (restaurant?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
<form 
class="text-center" 
action="/restaurants/<%= restaurant.id %>/removeFromCollection?_method=DELETE" 
method="POST"
>
<button class="btn btn-danger">
  Remove From Saved
</button>
</form>
<% } %>