<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Profile</title>
</head>
<body>
<!-- add image -->


<!-- Show restaurant description linked from all restaurants  -->



<!-- add review form   -->



<!--  add review section   -->





  
</body>
</html>