<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Profile</title>
</head>
<body>
<!-- add image -->
<img src="<%=restaurant._id.imageURL %> "

<!-- Show restaurant description linked from all restaurants  -->
</button>Game Description</button>

<!-- add review form   -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Review</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Restaurant">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</br>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Review">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</body>
</br>

<button> Submit Review  </button>

<!--  add review section   -->





  
</body>
</html>